<a href="https://colab.research.google.com/github/shreya1110-dev/MTechCodeFiles/blob/main/Python/Exercise%201/Solutions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Variable Types and Output: Declare four variables, each holding a value of a
different data type: integer, float, string, and boolean. Assign values that make
sense for each type (e.g., an age, a price, a name, a True/False state). Print the
value of each variable followed by its data type obtained using the type()
function.

In [ ]:
age = 24
cost = 20.5
name = "Shreya"
is_raining = False

print(age, type(age))
print(cost, type(cost))
print(name, type(name))
print(is_raining, type(is_raining))

24 <class 'int'>
20.5 <class 'float'>
Shreya <class 'str'>
False <class 'bool'>

Basic Input and Arithmetic: Get two numbers from the user as input. One should
be an integer and the other a float. Calculate and print their sum, difference, product, and the result of dividing the float by the integer. Format the results of
calculations to two decimal places using f-strings or the .format() method.

In [ ]:
a = int(input("Enter integer number: "))
b = float(input("Enter float number: "))
print("Sum: ", "{:.2f}".format(a+b))
print("Difference", "{:.2f}".format(a-b))
print("Product", "{:.2f}".format(a*b))
print("Division", "{:.2f}".format(b/a))

Enter integer number: 382
Enter float number: 39492.323454
Sum:  39874.32
Difference -39110.32
Product 15086067.56
Division 103.38

Formatted Output (f-strings): Ask the user for their favorite programming
language and their experience level (e.g., "Beginner", "Intermediate"). Use an f-
string to create and print a sentence summarizing this information, such as "You
are a [Experience Level] in [Programming Language].

In [ ]:
programming_language = input("Enter programming language: ")
experience_level = input("Enter experience level: ")
print(f"You are a {experience_level} in {programming_language}.")

Enter programming language: Python
Enter experience level: Intermediate
You are a Intermediate in Python.

Simple Type Casting: Prompt the user to enter a number as text (e.g., "105").
Convert this input string to an integer and then to a float using type casting
functions like int() and float(). Print the original input and the results of both
conversions along with their types

In [ ]:
number = input("Enter number: ")
print(number, type(number))

int_number = int(number)
print(int_number, type(int_number))

float_number = float(number)
print(float_number, type(float_number))

Enter number23627
23627 <class 'str'>
23627 <class 'int'>
23627.0 <class 'float'>

Function Introduction: Write a Python function called greet(name) that takes one
string argument name and prints a simple greeting message like "Hello, [name]!
Welcome to Python programming." Call this function with a name provided by
the user input.

In [ ]:
def greet(name):
  print(f"Hello,{name}! Welcome to Python programming.")

name = input("Enter name: ")
greet(name)

Enter name: Shreya
Hello,Shreya! Welcome to Python programming.

Handling Multiple Inputs on One Line: Ask the user to enter three numbers on a
single line, separated by spaces (e.g., "10 20 30"). Read this input, split the string
into individual number strings, convert them to integers, and calculate and print
their average.

In [ ]:
input_numbers = input("Enter numbers: ")
numbers_list = [int(num) for num in input_numbers.split(" ")]
avg = sum(numbers_list) / len(numbers_list)
print("Average: ", avg)

Enter numbers: 10 20 30 40
Average:  25.0

Basic Error Handling for Input: Write a program that asks the user to enter an
integer. Use a try-except block to specifically handle a potential ValueError if the
user enters input that cannot be converted to an integer (e.g., text). Print a
success message if conversion is successful, and a helpful error message
otherwise.

In [15]:
number = input("Enter number: ")

try:
  int_number = int(number)
  print("Number", int_number)
except ValueError as ex:
  print(f"Exception caught: {ex}")

Enter number: yhhg
Exception caught: invalid literal for int() with base 10: 'yhhg'

Combined Basics and Error Handling: Create a program that calculates a
person's Body Mass Index (BMI). Prompt the user for their height in meters and
weight in kilograms. Implement robust error handling using a try-except block to
catch ValueError for non-numeric input (in both height and weight) and
ZeroDivisionError if the height entered is zero. Print the calculated BMI value or
an appropriate error message indicating the specific issue

In [18]:
try:
  height = float(input("Enter height (mm): "))
  weight = float(input("Enter weight (kg): "))
  bmi = weight / (height * height)
  print(f"BMI: {bmi}")
except ValueError:
  print("Give correct inputs")
except ZeroDivisionError:
  print("Height cannot be zero")

Enter height (mm): 1.6
Enter weight (kg): 60
BMI: 23.437499999999996

List Indexing and Slicing: Create a list containing the names of five different
animal names. Print the animal at index 0, the animal at index 3, and a slice
containing the last two animals in the list

In [22]:
animals_list = ["tiger", "lion", "zebra", "goat", "cow"]
print("Index 0:", animals_list[0])
print("Index 3:", animals_list[3])
print("Last 2 animals:", animals_list[-2:])

Index 0: tiger
Index 3: goat
Last 2 animals: ['goat', 'cow']

Tuple Creation and Access: Create a tuple containing the names of three
different countries. Print the country at the first index and the country at the third
index from the tuple using indexing.

In [25]:
countries = ("india", "vietnam", "malaysia")
print("First country:", countries[0])
print("Third country: ", countries[-1])

First country: india
Third country:  malaysia

String Indexing and Slicing: Create a string variable city = "Metropolis". Print the
first character, the character at index 5, and a slice containing characters from
index 2 up to (but not including) index 6.

In [26]:
city = "Metropolis"
print("First character:", city[0])
print("Fifth character:", city[5])
print("Second to fifth:", city[2:6])

First character: M
Fifth character: p
Second to fifth: trop

Tuple and List Conversion: Given a tuple (10, 20, 30), convert it into a list. Append
the number 40 to the list. Then, convert the modified list back into a tuple. Print
the final tuple

In [27]:
t1 = (10, 20, 30)
l1 = list(t1)
print("List: ", l1)
l1.append(40)
t2 = tuple(l1)
print("Tuple: ", t2)

List:  [10, 20, 30]
Tuple:  (10, 20, 30, 40)

Given a string, write a Python function to determine
if it is a palindrome. A palindrome reads the same forwards and backwards,
ignoring case and spaces (e.g., "Level", "A man, a plan, a canal: Panama").

In [40]:
def is_palindrome(phrase):
  normalized_string = "".join(char.lower() for char in phrase if char.isalnum())
  return normalized_string[:] == normalized_string[::-1]

print("Level:", is_palindrome("Level"))
print("A man, a plan, a canal: Panama", is_palindrome("A man, a plan, a canal: Panama"))

Level: True
A man, a plan, a canal: Panama True

Removing Duplicates (Lists): Write a Python program that takes a list which may
contain duplicate elements (e.g., [1, 2, 2, 3, 4, 3, 5]) and returns a new list with all
duplicates removed, while preserving the original order of the first occurrence of
each element.

In [41]:
def remove_duplicates(input_list):
  seen_elements = set()
  result = []
  for item in input_list:
    if item not in seen_elements:
      seen_elements.add(item)
      result.append(item)
  return result

input_list = [1, 2, 2, 3, 4, 3, 5]
print(f"List: {input_list} without duplicates: {remove_duplicates(input_list)}")

List: [1, 2, 2, 3, 4, 3, 5] without duplicates: [1, 2, 3, 4, 5]

Given two lists of numbers, write a Python function to find and
return a new list containing only the elements that are common to both input
lists (their intersection).

In [48]:
a = [1,2,4,5,6,3,9]
b = [2,6,5,10]
result = set(a).intersection(set(b))
list(result)

[2, 5, 6]

Write a Python program that takes a list
of elements (e.g., ['apple', 'banana', 'apple', 'orange', 'banana', 'apple']) and
returns a dictionary. The keys of the dictionary should be the unique elements
from the list, and the values should be their corresponding frequencies (how
many times each element appears).

In [49]:
fruits = ['apple', 'banana', 'apple', 'orange', 'banana', 'apple']
fruits_freq = {}

for fruit in fruits:
  if fruit in fruits_freq.keys():
    fruits_freq[fruit] += 1
  else:
    fruits_freq[fruit] = 1
print("Fruits frequency:", fruits_freq)

Fruits frequency: {'apple': 3, 'banana': 2, 'orange': 1}

Create a dictionary representing a book with keys 'title',
'author', and 'year_published'. Add a new key 'genre' with a string value. Update
the value associated with the 'year_published' key. Print the final dictionary.

In [50]:
books = {"title": "xyz", "author": "xyz", "year_published": 2024}
print("Books:", books)
books["genre"] = "Fiction"
books["year_published"] = 2012
print("Books changed:", books)

Books: {'title': 'xyz', 'author': 'xyz', 'year_published': 2024}
Books changed: {'title': 'xyz', 'author': 'xyz', 'year_published': 2012, 'genre': 'Fiction'}

Given a list of dictionaries, where each dictionary
represents a product with keys 'name' (string) and 'price' (float), calculate and
print the total price of all products in the list.

In [51]:
items_list = [{"name": "item1", "price": 30.5},
              {"name": "item2", "price": 89.3},
              {"name": "item3", "price": 45.92}]

total_price = 0
for item in items_list:
  total_price += item["price"]
print("Total price:", total_price)

Total price: 165.72

Write a Python program that takes a year as input from the user
and determines if it is a leap year. Print "Leap year" or "Not a leap year". (A year is
a leap year if it is divisible by 4, except for years divisible by 100 but not by 400).

In [59]:
year = int(input("Enter year as input: "))
if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
  print("Leap year")
else:
  print("Not a leap year")

Enter year as input: 3000
Not a leap year

Ask the user to enter an integer. Use a simple if-else statement to
check if the number is even or odd and print the result.

In [61]:
number = int(input("Enter number: "))
if number % 2 == 0:
  print("Even")
else:
  print("Odd")

Enter number: 23
Odd

Ask the user to enter an integer. Use and and comparison
operators to check if the number is greater than 10 AND less than 20. Print a
message indicating whether the condition is True or False.

In [64]:
number = int(input("Enter number: "))
if number > 10 and number < 20:
  print("Condition true")
else:
  print("Condition false")

Enter number: 12
Condition true

Given a positive integer input from the user, write a program using
a loop (while or for) to calculate and print the sum of its digits.

In [69]:
number = int(input("Enter number: "))
sum = 0
while number > 0:
  sum += number%10
  number //= 10
print("Sum of numbers:", sum)

Enter number: 2783919
Sum of numbers: 39

Given an integer greater than 1 as input from the user, write a
Python function to find and print all of its prime factors. For example, if the input
is 12, the output should show the prime factors 2, 2, and 3.

In [76]:
def prime_factors(n):
  i = 2
  factors = []
  # check until sqrt of n
  while i * i <= n:
    if n % i: # not divisible
      i += 1
    else:
      factors.append(i) # should be prime
      n //= i
  # residue after prime factorization
  if n > 0:
    factors.append(n)
  return factors

number = int(input("Enter number: "))
factors = prime_factors(number)
print(f"Prime Factors of {number} are {factors}")

Enter number: 12
Prime Factors of 12 are [2, 2, 3]

Write a Python function to calculate the factorial of a
non-negative integer using recursion. The factorial of a number n is the product
of all positive integers1 less than or equal to n

In [79]:
def factorial(n):
  if n == 0:
    return 1
  if n == 1:
    return 1
  return n * factorial(n-1)

n = int(input("Enter number: "))
print(f"Factorial of {n} is {factorial(n)}")

Enter number: 5
Factorial of 5 is 120

 Write a Python function to calculate the binomial
coefficient nCr=fracnr(n−r) given non-negative integers n and r as input, where
nger. You can use a helper function (recursive or iterative) to calculate factorials.

In [80]:
#  nCr = n! / (r! * (n-r)!)
def binomial_coefficient(n,r):
  return factorial(n) / (factorial(r) * factorial(n-r))

n = int(input("Enter n: "))
r = int(input("Enter r: "))
print(f"Binomial coefficient with n: {n} and r: {r} is {binomial_coefficient(n,r)} ")

Enter n: 5
Enter r: 2
Binomial coefficient with n: 5 and r: 2 is 10.0

Given a sorted list of numbers and a target value, write
a function to perform a linear search to find the index of the target value. Write
another function to perform a binary search for the same purpose. Return -1 if
the target is not found in either function.

In [88]:
def linear_search(input_list, target):
  for i in range(0, len(input_list)):
    if(target == input_list[i]):
      return i
  return -1

def binary_search(input_list, target):
  low_index = 0
  high_index = len(input_list) - 1

  while(low_index <= high_index):
    mid_index = (low_index + high_index) // 2
    if input_list[mid_index] == target:
      return mid_index
    elif input_list[mid_index] < target:
      low_index = mid_index + 1
    else:
      high_index = mid_index - 1

  return -1  # not found till this point

a = [1, 2, 3, 4, 5, 7, 8, 9, 11]
print(f"Target 2 at index: ", linear_search(a, 2))
print(f"Target 5 at index: ", linear_search(a, 5))
print(f"Target 2 at index: ", binary_search(a, 2))
print(f"Target 7 at index: ", binary_search(a, 7))
print(f"Target 15 at index: ", binary_search(a, 15))

Target 2 at index:  1
Target 5 at index:  4
Target 2 at index:  1
Target 7 at index:  5
Target 15 at index:  -1

Write a program using a for loop and the range() function to
calculate and print the sum of all integers from 1 to 50 (inclusive).

In [89]:
sum = 0
for i in range(1,51):
  sum += i
print(f"Sum of numbers from 1-50 is {sum}")

Sum of numbers from 1-50 is 1275

Write a program that asks the user for two
numbers. Perform division of the first number by the second. Use a try-except
block to specifically handle the ZeroDivisionError if the second number is zero,
and print an appropriate message.

In [91]:
a = int(input("Enter number a: "))
b = int(input("Enter number b: "))
try:
  print(f"Division a/b is {a/b}")
except ZeroDivisionError as ex:
  print("Cannot divide by 0")

Enter number a: 5
Enter number b: 2
Division a/b is 2.5

Given a positive integer and its order (number of
digits) as input from the user, write a program to check if it is an Armstrong
number. An Armstrong number of order n is a number that is equal to the sum of
its own digits each raised to the power of n. Example: 153=13+53+33.

In [96]:
def is_armstrong(n):
  temp = n
  sum = 0
  while temp > 0:
    sum += (temp % 10)**3
    temp //= 10
  return sum == n

number = int(input("Enter number: "))
print(f"Is {number} armstrong: {is_armstrong(number)}")

Enter number: 78
Is 78 armstrong: False

Write a program that takes a text file path as input
from the user. Read the content of the file, count the frequency of each word
(treating words case-insensitively and ignoring common punctuation like
periods, commas, exclamation marks, and question marks). Print the frequency
count for each unique word and then identify and print the top 3 most frequent
words in the file. (Requires file I/O, string manipulation, dictionary usage, and
sorting/finding max).

In [137]:
import string

def write_file(file_path):
  with open(file_path, "w") as file:
    file.write("This is a Sample document.\n")
    file.write("This Document, contains sample text.\n")
    file.write("Sample text is repeated!\n")

def read_words_without_punctuation(file_path):
  with open(file_path, "r") as file:
    contents = file.read()
    contents_without_punctuation = "".join([char.lower() for char in contents if char not in string.punctuation])
    return contents_without_punctuation.split()

def count_freq(words):
  word_freq = {}
  for word in words:
    if word in word_freq.keys():
      word_freq[word] += 1
    else:
      word_freq[word] = 1
  return word_freq

def find_top_three_words(word_freq):
  sorted_list = sorted(word_freq.items(), key = lambda x:(x[1], x[0]), reverse = True) # to sort by value
  return list(dict(sorted_list[:3]).keys())

file_name = input("Enter file name: ")
write_file(file_name)
words = read_words_without_punctuation(file_name)
word_freq = count_freq(words)
print(f"Top three frequent words: {find_top_three_words(word_freq)} ")

Enter file name: f1.txt
Top three frequent words: ['sample', 'this', 'text']